.hero-box {
  display: block;
  /* background-color: var(--hero-footer-bcg); */
  // padding-top: 200px;
  // padding-bottom: 200px;
}

.overlay {
  background-image: -webkit-gradient(
      linear,
      left top,
      right top,
      from(rgba(47, 48, 58, 0.4)),
      to(rgba(47, 48, 58, 0.4))
    ),
    url('../images/bcg-header.jpg');
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/bcg-header.jpg');
  background-repeat: no-repeat;
  max-width: 100%;
  background-size: cover;
  // height: 600px;
  background-position: center;
}

.hero-title {
  margin-right: auto;
  margin-bottom: 30px;
  margin-left: auto;
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.button {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding: 10px 32px;
  border: none;
  border-radius: 4px;
  min-width: 200px;
  font-family: Roboto;
  background-color: #2196f3;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
}
@media screen and (min-width: 320px) {
  .hero-box {
    padding-top: 118px;
    padding-bottom: 118px;
  }
  .hero-title {
    font-size: 26px;
    width: auto;
  }
  .overlay {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/hero480_1x.jpg');
    background-size: cover;
  }
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .overlay {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url('../images/hero480_2x.jpg');
    }
  }
}
@media screen and (min-width: 768px) {
  .hero-title {
    display: block;
    width: 360px;
    font-size: 26px;
  }
  .overlay {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/hero768_1x.jpg');
  }
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .overlay {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url('../images/hero768_2x.jpg');
    }
  }
}
@media screen and (min-width: 1100px) {
  .hero-box {
    padding-top: 200px;
    padding-bottom: 200px;
  }

  .overlay {
    // height: 600px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/hero1600_1x.jpg');
  }
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .overlay {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url('../images/hero1600_2x.jpg');
    }
  }
  .hero-title {
    display: block;
    width: 696px;
    font-size: 44px;
  }
}
