html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  font-family: Roboto;
  font-style: normal;
  letter-spacing: 0.03em;
  margin: 0;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
  @media screen and (max-width: 480px) {
    width: 480px;
  }
}
h1,
h2,
h3,
h4,
p,
a {
  margin: 0;
  padding: 0;
}
img,
a {
  display: block;
}
a {
  text-decoration: none;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
li {
  margin: 0;
  padding: 0;
}
